@import 'bootstrap.less';
@import "cyborg/variables.less";
@import "cyborg/bootswatch.less";
@import "utilities.less";

@import "chat.less";
@import "login.less";
@import "player.less";
@import "playlist.less";

body {
	margin-top: @navbarHeight + 1px;
}

a.brand {
	text-transform: lowercase;
}

a.brand span.highlight {
	background-color: lighten(@red, 5%);
	margin: 0 (@baseLineHeight * 0.2);
	padding: 0 (@baseLineHeight * 0.2);
	.border-radius(@baseLineHeight * 0.2);
}

.row-fluid {
	margin-bottom: @baseLineHeight;
}

p.lead {
	margin-bottom: @baseLineHeight * 0.8;
	margin-top: @baseLineHeight * 0.8;
}

.hero-unit {
	margin-top: @baseLineHeight * 0.8;
}

.help-block.error {
	.text-error;
}

.btn-primary.disabled, .btn-primary[disabled] {
	background-color: @blueDark;
}

.btn:focus {
	outline: none;
}

.noscript-hide * {
	display: none;
}
