body {
	margin-top: 51px;
}

.row-fluid {
	margin-bottom: 2em;
}

#chatbox {
	height: 120px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#chatinput {
	width: 90%;
}

#chatbutton {
	width: 10%;
}

p.lead {
	margin-bottom: 16px;
	margin-top: 16px;
}

.hero-unit {
	margin-top: 16px;
}

#register {
	background-color: #131517
}

#register form,
#register .form-actions {
	margin-bottom: 0;
}

#register .modal-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.btn-primary.disabled, .btn-primary[disabled] {
	background-color: #008AB8;
}

#login-dropdown form {
	margin-bottom: 0;
}

.btn:focus {
	outline: none;
}

#login-dropdown form button[type=submit] {
	margin-top: 5px;
}

#login-dropdown form .text-error {
	margin-top: 8px;
}

.noscript-hide * {
	display: none;
}

.logged-in {
	display: none;
}